body {
    font-family: 'Times New Roman';
    font-size: 15px;
}


/* Header */
header {
    
    text-align: center;
    font-size: 35px;
}

h1 {
    font-size: 35px;
    padding: 15px;
}

/* Todos los titulos */
.container-titulo {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 0.5em;
    font-weight: 700;

}

h2 {
    padding: 5px;
    padding-left: 20px;
}
/* main */

main {
    padding-left: 20%;
    padding-right: 20%;
}

.item-name {
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 40px;
}

.u-list {
    padding-left: 5px;
    margin-top: 0px;
  
}

.p-data {
    font-style: italic;
}

/* Footer */

footer {

    background-color: #005677;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.ft-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.ft-icon {
    padding-left: 20px;
}